/* Styles go here */

#nav {
  background-color: black;
  color: white;
}

#body-index {
  padding-top: 50px;
  background-color: black;
  background: url('http://wallpapercave.com/wp/70zTJIp.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Arial Black", Gadget, sans-serif;
  padding-bottom:0px;
}

#body-account-settings {
  padding-top: 70px;
}

#body-store {
  padding-top: 70px;
}

#jumbotron {
  background-color:rgba(128, 128, 128, 0.7);
  color: white;
}

#registration-form {
  margin: auto;
  text-align: center;
  color: white;
  background-color:rgba(128, 128, 128, 0.7);
}

#login-form {
  margin: auto;
  text-align: center;
  color: white;
  background-color:rgba(128, 128, 128, 0.7);
}
